<% provide(:title, t("label.user.signup")) %>
<%= render Ui::CardComponent.new(size: :sm) do %>
  <h3 class="mt-3 text-xl font-medium text-center text-gray-600 dark:text-gray-200">
    <%= t("label.user.signup") %>
  </h3>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "shared/error_messages", resource: resource %>

    <%= render Form::FieldComponent.new(
      form: f,
      attribute: :username,
      required: true,
      autofocus: true,
      placeholder: "@willem",
      pattern: "@[a-zA-Z0-9_]+",
      wrapper_class: "w-full mt-4"
    ) %>

    <%= render Form::FieldComponent.new(
      form: f,
      attribute: :display_name,
      required: true,
      placeholder: "Master Willem",
      wrapper_class: "mt-4"
    ) %>

    <%= render Form::FieldComponent.new(
      form: f,
      attribute: :email,
      type: :email,
      required: true,
      placeholder: "master.willem@byrgenwerth.college",
      autocomplete: "email",
      wrapper_class: "mt-4"
    ) %>

    <%= render Form::FieldComponent.new(
      form: f,
      attribute: :password,
      type: :password,
      hint: @minimum_password_length ? "※#{@minimum_password_length}文字以上" : nil,
      minlength: @minimum_password_length,
      autocomplete: "new-password",
      wrapper_class: "mt-4"
    ) %>

    <%= render Form::FieldComponent.new(
      form: f,
      attribute: :password_confirmation,
      type: :password,
      minlength: @minimum_password_length,
      autocomplete: "new-password",
      wrapper_class: "mt-4"
    ) %>

    <div class="mt-6">
      <%= render Ui::ButtonComponent.new(variant: :primary, type: :submit, full_width: true) do %>
        <%= t("label.general.register") %>
      <% end %>
    </div>
  <% end %>
<% end %>
