<% provide(:title, @dungeon.glyph) %>
<%= render Ui::CardComponent.new(size: :md) do %>
  <h3 class="mt-3 text-xl font-medium text-center text-gray-600 dark:text-gray-200">
    <%= t("label.dungeon.edit") %>
  </h3>

  <%= form_with(model: @dungeon, url: dungeon_path(@dungeon), method: :put, class: "mt-6") do |f| %>
    <%= render "shared/error_messages", resource: @dungeon %>

    <%# glyph - read only %>
    <div>
      <%= f.label :glyph, class: "block text-sm text-gray-800 dark:text-gray-200" %>
      <div class="block w-full px-4 py-2 mt-2 text-gray-500 bg-gray-100 rounded-lg dark:bg-gray-700 dark:text-gray-400">
        <%= @dungeon.glyph %>
      </div>
    </div>

    <%# area - read only %>
    <div class="mt-4">
      <%= f.label :area, class: "block text-sm text-gray-800 dark:text-gray-200" %>
      <div class="block w-full px-4 py-2 mt-2 text-gray-500 bg-gray-100 rounded-lg dark:bg-gray-700 dark:text-gray-400">
        <%= @dungeon.translated_area %>
      </div>
    </div>

    <%# depth - read only %>
    <div class="mt-4">
      <%= f.label :depth, class: "block text-sm text-gray-800 dark:text-gray-200" %>
      <div class="block w-full px-4 py-2 mt-2 text-gray-500 bg-gray-100 rounded-lg dark:bg-gray-700 dark:text-gray-400">
        <%= @dungeon.depth %>
      </div>
    </div>

    <%# additional rites - disabled collection checkboxes %>
    <fieldset class="mt-4">
      <p class="block text-sm text-gray-800 dark:text-gray-200">
        <%= t("label.dungeon.attributes.additional_rites") %>
      </p>
      <div class="flex flex-row">
        <%= f.collection_checkboxes :rite_ids, @rites, :id, :translated_name,
                                    { checked: @dungeon.rite_ids } do |b| %>
          <div class="basis-1/4">
            <%= b.checkbox(class: "size-4 border rounded-sm bg-gray-100 dark:bg-gray-700 dark:border-gray-600 cursor-not-allowed",
                           disabled: true) %>
            <%= b.label(class: "text-sm text-gray-500 dark:text-gray-400") %>
          </div>
        <% end %>
      </div>
    </fieldset>

    <%# layers - keeping fields_for as-is due to dynamic label %>
    <%= f.fields_for :layers do |layer_form| %>
      <div class="mt-4">
        <%= layer_form.hidden_field :level %>
        <%= layer_form.label :boss_name,
                             t("label.dungeon.attributes.boss_name", level: layer_form.object.level),
                             class: "block text-sm text-gray-800 dark:text-gray-200" %>
        <%= layer_form.text_field(:boss_name,
                                  class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border rounded-lg dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300/40 focus:outline-hidden focus:ring-3") %>
      </div>
    <% end %>

    <%= render Form::CheckboxComponent.new(
      form: f,
      attribute: :is_open,
      checked: @dungeon.is_open,
      disabled: true,
      wrapper_class: "mt-4"
    ) %>

    <%= render Form::FieldComponent.new(
      form: f,
      attribute: :comment,
      type: :textarea,
      wrapper_class: "mt-4"
    ) %>

    <div class="mt-6">
      <%= render Ui::ButtonComponent.new(variant: :primary, type: :submit, full_width: true) do %>
        <%= t("label.general.update") %>
      <% end %>
    </div>
  <% end %>
<% end %>
