<%= render Ui::CardComponent.new(size: :lg) do %>
  <%# TODO: I18n %>
  <%= render Ui::SectionHeaderComponent.new(title: "聖杯ダンジョン一覧", class: "mt-6 lg:mt-0") do |header| %>
    <% if user_signed_in? %>
      <% header.with_action do %>
        <%= render Ui::ButtonComponent.new(variant: :secondary, href: new_dungeon_path) do %>
          <%= t("label.general.register") %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <div>
    <%= render "filter_form" %>
  </div>

  <%= turbo_frame_tag "dungeons-list", autoscroll: true,
                      data: { turbo_action: :advance, autoscroll_block: "start" } do %>
    <%= render partial: "dungeons/table", locals: { dungeons: @dungeons } %>
  <% end %>
<% end %>
