<%= render Ui::CardComponent.new(size: :lg) do %>
  <div class="mt-6 lg:mt-0 mb-4 flex items-center justify-between">
    <%# TODO: I18n %>
    <h2 class="text-lg font-medium text-gray-800 dark:text-white">聖杯ダンジョン一覧</h2>
    <% if user_signed_in? %>
      <%= render Ui::ButtonComponent.new(variant: :secondary, href: new_dungeon_path) do %>
        <%= t("label.general.register") %>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= render "filter_form" %>
  </div>

  <%= turbo_frame_tag "dungeons-list", autoscroll: true,
                      data: { turbo_action: :advance, autoscroll_block: "start" } do %>
    <%= render partial: "dungeons/table", locals: { dungeons: @dungeons } %>
  <% end %>
<% end %>
