<% provide(:title, t("label.dungeon.register")) %>
<%= render Ui::CardComponent.new(size: :sm) do %>
  <h3 class="mt-3 text-xl font-medium text-center text-gray-600 dark:text-gray-200">
    <%= t("label.dungeon.register") %>
  </h3>

  <%= form_with(model: @dungeon, class: "mt-6") do |f| %>
    <%= render "shared/error_messages", resource: @dungeon %>

    <%= render Form::FieldComponent.new(
      form: f,
      attribute: :glyph,
      required: true,
      autofocus: true,
      placeholder: "9kv8xiyi",
      minlength: 8,
      maxlength: 8
    ) %>

    <%= render Form::FieldComponent.new(
      form: f,
      attribute: :area,
      type: :select,
      required: true,
      wrapper_class: "mt-4",
      choices: Dungeon.areas.keys.map { |area| [t("enums.dungeon.area.#{area}"), area] },
      options: { selected: "pthumeru" }
    ) %>

    <%= render Form::FieldComponent.new(
      form: f,
      attribute: :depth,
      type: :select,
      required: true,
      wrapper_class: "mt-4",
      choices: (1..5).to_a.reverse,
      options: { selected: 5 }
    ) %>

    <%# additional rites - keeping collection_checkboxes as-is due to complexity %>
    <fieldset class="mt-4">
      <p class="block text-sm text-gray-800 dark:text-gray-200">
        <%= t("label.dungeon.attributes.additional_rites") %>
      </p>
      <div class="flex flex-row">
        <%= f.collection_checkboxes :rite_ids, @rites, :id, :translated_name,
                                    { checked: @rites.filter{ |x| x.name != "sinister" }.map(&:id) } do |b| %>
          <div class="basis-1/4">
            <%= b.checkbox class: "size-4 border rounded-sm dark:bg-gray-800 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300/40 focus:outline-hidden focus:ring-3" %>
            <%= b.label class: "text-sm text-gray-800 dark:text-gray-200" %>
          </div>
        <% end %>
      </div>
    </fieldset>

    <%# layers - keeping fields_for as-is due to dynamic label %>
    <%= f.fields_for :layers do |layer_form| %>
      <div class="mt-4">
        <%= layer_form.hidden_field :level %>
        <%= layer_form.label :boss_name,
                             t("label.dungeon.attributes.boss_name", level: layer_form.object.level),
                             class: "block text-sm text-gray-800 dark:text-gray-200" %>
        <%= layer_form.text_field(:boss_name,
                         class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border rounded-lg dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300/40 focus:outline-hidden focus:ring-3") %>
      </div>
    <% end %>

    <%= render Form::CheckboxComponent.new(
      form: f,
      attribute: :is_open,
      checked: true,
      wrapper_class: "mt-4"
    ) %>

    <%= render Form::FieldComponent.new(
      form: f,
      attribute: :comment,
      type: :textarea,
      wrapper_class: "mt-4"
    ) %>

    <div class="mt-6">
      <%= render Ui::ButtonComponent.new(variant: :primary, type: :submit, full_width: true) do %>
        <%= t("label.general.register") %>
      <% end %>
    </div>
  <% end %>
<% end %>
