<div class="<%= @input_options[:wrapper_class] %>">
  <%= @form.check_box @attribute, checkbox_html_options %>
  <%= @form.label @attribute, label_text, class: LABEL_CLASSES %>

  <% if has_errors? %>
    <% error_messages.each do |message| %>
      <p class="<%= ERROR_CLASSES %>"><%= message %></p>
    <% end %>
  <% end %>
</div>
