<div class="<%= @input_options[:wrapper_class] %> relative" data-controller="<%= 'tooltip' if tooltip? %>">
  <div class="flex items-center gap-1">
    <%= @form.label @attribute, label_text, class: LABEL_CLASSES %>
    <% if tooltip? %>
      <button type="button" class="<%= TOOLTIP_BUTTON_CLASSES %>" aria-label="<%= @tooltip %>" data-tooltip-target="trigger" data-action="mouseenter->tooltip#show mouseleave->tooltip#hide focus->tooltip#show blur->tooltip#hide" tabindex="-1">
        <svg xmlns="http://www.w3.org/2000/svg" class="size-4" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
        </svg>
      </button>
    <% end %>
  </div>
  <% if tooltip? %>
    <span class="<%= TOOLTIP_BODY_CLASSES %>" role="tooltip" data-tooltip-target="body">
      <%= @tooltip %>
      <span class="<%= TOOLTIP_ARROW_CLASSES %>" data-tooltip-target="arrow"></span>
    </span>
  <% end %>
  <% if @hint %>
    <p class="<%= HINT_CLASSES %>"><%= @hint %></p>
  <% end %>

  <% if @type == :textarea %>
    <%= @form.text_area @attribute, input_html_options %>
  <% elsif @type == :select %>
    <%= @form.select @attribute, @input_options[:choices], @input_options[:options] || {}, input_html_options %>
  <% else %>
    <%= @form.send(input_method, @attribute, input_html_options) %>
  <% end %>

  <% if errors? %>
    <% error_messages.each do |message| %>
      <p class="<%= ERROR_CLASSES %>"><%= message %></p>
    <% end %>
  <% end %>
</div>
