<% provide(:title, t("label.user.profile_edit")) %>
<div class="w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800">
  <div class="px-6 py-4">
    <%# Title %>
    <h3 class="mt-3 text-xl font-medium text-center text-gray-600 dark:text-gray-200">
      <%= t("label.user.profile_edit") %>
    </h3>

    <%= form_with(model: @user) do |f| %>
      <%= render "shared/error_messages", resource: @user %>

      <%# Username (not editable) %>
      <div class="w-full mt-4">
        <%= f.label :username, class: "block text-sm text-gray-800 dark:text-gray-200" %>
        <div class="block w-full px-4 py-2 mt-2 rounded-lg text-gray-500 dark:text-gray-400 bg-gray-100 dark:bg-gray-700">
          <%= @user.username %>
        </div>
      </div>

      <%= render Form::FieldComponent.new(
        form: f,
        attribute: :display_name,
        required: true,
        autofocus: true,
        placeholder: "Master Willem",
        wrapper_class: "mt-4"
      ) %>

      <%# User bio - keeping sr-only label pattern %>
      <div class="mt-4">
        <%= f.label :bio, class: "sr-only" %>
        <%= f.text_area(:bio,
                        class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border rounded-lg dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300/40 focus:outline-hidden focus:ring-3") %>
      </div>

      <%# X (Twitter) - keeping prefix input pattern %>
      <div class="mt-4">
        <%= f.label :twitter_link, class: "sr-only" %>
        <div class="flex items-center">
          <p class="px-3 py-2 text-gray-500 dark:text-gray-400 bg-gray-100 dark:bg-gray-800 border dark:border-gray-800 border-r-0 rounded-l-lg">
            x.com/
          </p>
          <%= f.text_field(:twitter_link,
                           class: "block w-full px-4 py-2 text-gray-700 bg-white border rounded-l-none rounded-lg dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300/40 focus:outline-hidden focus:ring-3") %>
        </div>
      </div>

      <%# Submit button %>
      <div class="mt-6">
        <%= render Ui::ButtonComponent.new(variant: :secondary, type: :submit, full_width: true) do %>
          <%= t("label.general.update") %>
        <% end %>
      </div>
    <% end %>

    <div class="mt-4 flex justify-center">
      <%= render Ui::ButtonComponent.new(variant: :secondary, href: edit_user_registration_path, full_width: true) do %>
        <%= t("label.user.email_password_update") %>
      <% end %>
    </div>

    <hr class="mt-4 border-b dark:border-gray-600">

    <div class="mt-4 flex justify-center">
      <%= render Ui::ButtonComponent.new(
        variant: :primary,
        href: user_path(@user),
        full_width: true,
        data: { "turbo-method": :delete, turbo_confirm: t("label.general.sure") }
      ) do %>
        <%= t("label.user.delete") %>
      <% end %>
    </div>
  </div>
</div>
