<% provide(:title, @user.username) %>
<% provide(:og_type, "article") %>
<% provide(:og_description, @user.bio) %>
<%= render Ui::CardComponent.new(size: :lg) do %>
  <%# 2 columns when width >= lg %>
  <div class="flex flex-col lg:flex-row lg:gap-4">
    <%# User Profile %>
    <div class="mb-4 w-full lg:w-80 md:flex-none">
      <h3 class="text-2xl font-bold text-gray-600 dark:text-gray-200">
        <%= @user.display_name %>
      </h3>
      <p class="text-gray-600 dark:text-gray-200"><%= @user.username %></p>
      <% if @user.bio.present? %>
        <div class="mt-4 p-4 bg-gray-50 rounded-lg dark:bg-gray-700">
          <p class="p-3 text-sm text-gray-600 dark:text-gray-300 whitespace-no-wrap leading-relaxed">
            <%= @user.bio %>
          </p>
        </div>
      <% end %>

      <%# Social links %>
      <%= render partial: "users/social", locals: { user: @user } %>

      <%# Link to /users/:username/edit %>
      <% if current_user == @user %>
        <div class="mt-6 flex justify-center">
          <%= render Ui::ButtonComponent.new(variant: :secondary, href: edit_user_path(@user), full_width: true) do %>
            <%= t("label.user.profile_edit") %>
          <% end %>
        </div>
      <% end %>
    </div>

    <%# List of user's dungeons %>
    <div class="w-full md:flex-1">
      <div class="mt-6 lg:mt-0 mb-4 flex items-center justify-between">
        <h2 class="text-lg font-medium text-gray-800 dark:text-white">
          聖杯ダンジョン一覧
        </h2>
        <% if current_user == @user %>
          <%= render Ui::ButtonComponent.new(variant: :secondary, href: new_dungeon_path) do %>
            <%= t("label.general.register") %>
          <% end %>
        <% end %>
      </div>

      <%# TODO: create the endpoint GET /users/:username/dungeons and use eager-loading %>
      <%= turbo_frame_tag "users-dungeons-list", autoscroll: true,
                          data: { turbo_action: :advance, autoscroll_block: "start" } do %>
        <%= render partial: "dungeons/table", locals: { dungeons: @dungeons } %>
      <% end %>
    </div>
  </div>
<% end %>
