<%= tag.div(class: card_classes, **html_attributes) do %>
  <% if header? %>
    <%= header %>
  <% end %>
  <div class="<%= content_classes %>">
    <%= content %>
  </div>
  <% if footer? %>
    <%= footer %>
  <% end %>
<% end %>
