<% provide(:title, t("label.user.login")) %>
<div class="w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800">
  <div class="px-6 py-4">
    <%# Title %>
    <h3 class="mt-3 text-xl font-medium text-center text-gray-600 dark:text-gray-200">
      <%= t("label.user.login") %>
    </h3>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%# Username %>
      <div class="w-full mt-4">
        <%= f.label :username, class: "block text-sm text-gray-800 dark:text-gray-200" %>
        <%= f.text_field(:username, autofocus: true,
                         class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border rounded-lg dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300/40 focus:outline-hidden focus:ring-3",
                         placeholder: "@willem", pattern: "@[a-zA-Z0-9_]+", required: true) %>
      </div>

      <%# Password %>
      <div class="mt-4">
        <div class="flex items-center justify-between">
          <%= f.label :password, class: "block text-sm text-gray-800 dark:text-gray-200" %>
          <%= link_to("パスワードを忘れた", new_user_password_path,
                      class: "text-xs text-gray-600 dark:text-gray-400 hover:underline") %>
        </div>
        <%= f.password_field(:password, autofocus: true,
                             class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border rounded-lg dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300/40 focus:outline-hidden focus:ring-3",
                             autocomplete: "current-password") %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="mt-4">
          <%= f.check_box :remember_me, class: "size-4 border rounded-sm dark:bg-gray-800 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300/40 focus:outline-hidden focus:ring-3" %>
          <%= f.label :remember_me, "次回から自動ログインする", class: "text-sm text-gray-800 dark:text-gray-200" %>
        </div>
      <% end %>

      <%# Submit button %>
      <div class="mt-6">
        <%= f.submit(t("label.user.login"),
                     class: "w-full px-6 py-2.5 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-gray-800 rounded-lg hover:bg-gray-700 focus:outline-hidden focus:ring-3 focus:ring-gray-300/50") %>
      </div>
    <% end %>
  </div>

  <%# Link to sign up page %>
  <div class="flex items-center justify-center py-4 text-center bg-gray-50 dark:bg-gray-700">
    <span class="text-sm text-gray-600 dark:text-gray-200">アカウント未登録ですか？</span>
    <%= link_to(t("label.user.signup"), new_user_registration_path,
                class: "mx-2 text-sm font-bold text-blue-500 dark:text-blue-400 hover:underline") %>
  </div>
</div>
