<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%# meta tags for Open Graph Protocol %>
    <meta property="og:site_name" content="Chalice-rium" />
    <meta property="og:type" content="<%= content_for?(:og_type) ? yield(:og_type) : 'website' %>" />
    <meta property="og:title" content="<%= full_title(yield(:title)) %>" />
    <meta property="og:image" content="<%= asset_url("ogp.png") %>" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:description" content="<%= ogp_description(yield(:og_description)) %>" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%= favicon_link_tag "favicon.ico" %>
    <%= favicon_link_tag "apple-touch-icon.png", rel: "apple-touch-icon", type: "image/png" %>
    <%= favicon_link_tag "android-chrome-192x192.png", rel:"icon", type: "image/png", sizes: "192x192" %>
    <%= favicon_link_tag "android-chrome-512x512.png", rel:"icon", type: "image/png", sizes: "512x512" %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen flex flex-col bg-gray-50 dark:bg-gray-900">
    <header>
      <%= render "layouts/header" %>
    </header>
    <%= render "layouts/flash" %>
    <main class="container mx-auto mt-28 mb-28 px-5 flex">
      <%= yield %>
    </main>
    <footer class="mt-auto bg-white dark:bg-gray-900">
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
